{% extends 'base.html' %}

{% block X_content %}
<style>
    input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .title{
<!--    background:red;-->
    }

</style>
<div align="center">
    <h1>Ceare Your Note</h1>
<form action="{% url 'create'  %}" method="POST" >
         {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" >
</form>
    {% if messages %}
    {% for m in  messages %}
    {{m}}
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
